@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html, body {
font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 0;
    background: rgb(200,255,255)
}
canvas {
  display: block;
}
nav{
    padding: 1rem;
}
a#mio{
  font-weight:bold;

  background:black;
  color:white;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    box-shadow: 1px 1px 6px black;
        padding:1rem 2rem;
    border-radius: 5px;
}

a#mio:hover {
    background: pink;
    color: black;
    transition: all ease 1s; 
    top:51%
    box-shadow:1px 1 px 10 px black; 
}